html body .forgot-password #api > div:first-child {
  display: none;
}
html body .forgot-password #api .error.itemLevel p {
  color: #a94442;
}
html body .forgot-password #api .error.itemLevel p:before {
  content: "\e101";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-right: 3px;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
}
